@import 'reset';
@import 'typography';
@import 'css3';
@import 'columns';

$background_colour: #F6F6F6; 
$light_green: #8ECC3E;

@include pop-animation;

@mixin flag { 
	@include border-radius(0.25em);
	border-bottom-right-radius: 0;
	@include background-size(cover);
	
	-webkit-animation-name: pop;
	-webkit-animation-duration: 400ms;
	-webkit-animation-timing-function: ease-in-out;
	
	font-size: 2.4em; 
	margin: 0.5em 0 0 -3em;
	padding: 0.5em 0.4em 0.5em 0.25em;
	
	position: absolute;
	display: block;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 1em;
	text-align: center;
	text-shadow: 1px 1px 0 $light_green;
	background-image: url('/images/date-bubble.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

@mixin clearfix { 
	&:after { content: '✔'; visibility: hidden; height: 0; display: block; clear: both; }
}

@mixin section_header {
	header {
		position: relative;
		width: 102%;
		margin-left: -1%;
		border-top: 1px solid $light_green;
		
		> h1 { 
			margin: -0.8em auto 0 auto; 
			text-align: center;
			font-family: Palatino, "Palatino Linotype", Book Antiqua, serif;
			font-style: italic; 
			font-size: 1.9em; 
			color: #333;
		}
		> h1 span { background-color: $background-colour; padding: 0 0.75em; }
	}
}

@mixin chronological_list {
	> dl { margin-top: 3em; }
	dl dl { margin-top: -2.2em; }
	dt {
		@include skip-column(7);
		font-size: 1.5em; 
		line-height: 1.5em;
		font-style: italic;
		color: #777;
	}
	dl dl dt { @include skip-column(5); @include column-width(2);  }
}

body { @include column-width(10); font-size: 62.5%; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; line-height: 1.5; margin: 3em auto; background-color: $background_colour; }

body#about {
	> header {
		h1 { @include primary_header; @include column(5); @include column-width(5); margin-bottom: 0.2em; }
		h2 { @include secondry_header; clear: left; margin-top: 0.7em; }
		h3 { @include flag; }
		figure { 
			@include column(5);
			@include column-width(5);
			margin-left: 1.5em;
			figcaption { display: none; }
		}
	}
	
	section#bio, section#articles, section#meta { 
		@include clearfix; 
		@include section_header;
		margin-bottom: 2em;
		padding-bottom: 2em;
	}
	
	section#bio {
		p { 
			@include body_copy; 
			@include column-count(2);
			@include column-gap(1em);
			
			margin-top: 0.7em;
		}

		.csscolumns & p { width: auto; }
	}
	
	section#articles {
		@include chronological_list;
		
		article {
			@include column-width(5);
			
			margin-top: -3em;
			margin-bottom: 5em;
			
			a { text-decoration: none; }
					
			h1 { 
				@include secondry_header; 
				border-bottom: 1px solid transparent; 
				-webkit-transition-property: border;
				-webkit-transition-duration: 200ms;
				-webkit-transition-timing-function: ease-in;
				display: inline;
			}
			&:hover h1 { border-bottom: 1px solid #9c9c9c; }
			
			h2 { @include body_copy; @include column-width(5); }
		}
	}
	
	section#meta {	
		section#contact, section#external { 
			@include column(5); 
			@include column-width(5);
			margin-top: 3em;
			
			h1 { @include thirdly_header; }
		}
		p { @include body_copy; width: auto; margin-top: 1em; }
	}
	
	section#events { 
		@include section_header; 
		@include clearfix;
		
		padding-bottom: 2em; 
		margin: 5em 0;
		
		a { 
			color: #4d4d4d;
			text-decoration: none;
			
			h1 { 
				display: inline; 
				border-bottom: 1px solid transparent; 
				-webkit-transition-property: border;
				-webkit-transition-duration: 200ms;
				-webkit-transition-timing-function: ease-in;
				padding: 0.1em;
			}
			&:hover h1 { border-bottom: 1px solid #9c9c9c; }
		}
		
		> header {
			position: relative;
			
			h1 { position: relative; }
			h1 .wrapper { 
				color: white;
				background-color: $light_green; 
				width: 75px;
			  height: 75px;
			  @include border-radius(37px);
				position: absolute;
				margin-top: -25px;
				margin-left: 45%;
				padding: 0;
			}
			h1 span { 
				margin-top: 1.3em;
				background-color: transparent;
				padding: 0;
				display: block;
			}
		}
		
		section#upcoming, section#past {
			margin-top: 8em;
			
			> h1 { @include thirdly_header; }
		}
		
		section#upcoming { 
			@include column(4);
			
			article {
				margin-top: 2em;
				h1 { @include secondry_header; font-size: 2em; }
				h1:after { content: "—"; }
				p { @include body_copy; }
				p.location { font-size: 1.2em; font-style: italic;}
			}
		}  
		
		section#past { 
			@include column(6);
			@include column-width(6);
			
			section#presentations { margin-top: 1.5em; }
			article { 
				@include column-width(3);
				float: left;
				clear: none;
				margin-top: 1em;
				
				h1 { font-size: 1.3em; }
			} 
		}
	}
}

body#article {
	
	header {
		h1 { @include primary_header; @include column-width(3); }
		h1:after { content: "—";}
	}
	.wrapper { position: relative; }
	time { 
		@include column(3); 
		display: block; 
		margin-top: 6em;
		font-size: 1.2em; 
		line-height: 1.4em;
		font-style: italic;
		color: #333;
	}
	.body { 
		@include column(7);
		@include column-width(7);
		@include skip-column(1); 
		margin-top: 6em; 
	}
	.body img { margin-left: -1.5em; }
	.body pre { 
		margin-bottom: 3em;
		margin-left: -1.75em; 
		background-color: #efefef;
	}
	.body h4:before { content: "—"; }
	.body h4 { font-style:italic; font-size: 1.5em; margin: 1em 0; color: #666; }
	.body pre code { font-size: 135%; color: #4d4d4d; background-color: #efefef; display: inline-block; padding: 1em; }
	.body aside {
		@include column-width(2);
		position: absolute;
		top: 15.7em;
		left: 0;
		
		h1 { 
			font-size: 1.3em;
			color: #999;
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			border-bottom: 0.15em solid #ccc;
			margin-bottom: 1.9em;
		}
		p {
			font-size: 1.2em; 
			line-height: 1.9em;
			font-style: italic;
			color: #666;
			width: auto;
			&:last-child:after { content: ""; }
		}
	}
	
	h2 { @include secondry_header; @include column-width(6); margin-bottom: 1em; }
	p { @include body_copy; margin-bottom: 1.5em; }
	
	p:last-child { 
		position: relative;
		
		&:last-child:after { 
			content: "Ϟ"; 
			position: absolute;
			font-weight: bold; 
			font-style: italic; 
			left: 0;
			top: 0;
			margin-left: -5em;
		}
	}
}

body > footer { 
	width: 20em;
	font-style: italic;
	position: relative; 
	clear: left;
	margin: 0 auto; 
	padding: 1em 0; 
	border-top: 0.1em solid $light_green;
	text-align: center;
	a { 
		text-decoration: none;
		border-bottom: 1px solid transparent; 
		-webkit-transition-property: border;
		-webkit-transition-duration: 200ms;
		-webkit-transition-timing-function: ease-in;
		padding: 0.1em;
		
		&:hover { border-bottom: 1px solid #9c9c9c; }
	}
	
	small { color: #333; font-size: 1.3em; font-family: Palatino, "Palatino Linotype", Book Antiqua, serif; }
}