@import 'reset';
@import 'typography';
@import 'css3';

$background_colour: #F6F6F6; 
$light_green: #8EDD50;

body { font-size: 62.5%; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; line-height: 1.5; margin: 3em auto; width: 760px; background-color: $background_colour; }

@mixin column($count: 1, $width: 60px, $gutter: 20px) {
	width: $width * $count;
  margin-right: $gutter;
  float: left;
	&:last-of-type { margin-right: 0; }
}

@mixin skip-column($count: 1, $width: 80px) { 
	margin-left: $count * $width;
}

@mixin button {
	@include border-radius(0.25em);
	display: block;
	padding: 0.25em 0.7em;
	background-color: $light_green;
	color: white;
	font-size: 1.4em;
	font-style: italic;
	text-decoration: none;
	
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 250ms;
	-webkit-transition-timing-function: ease-in;
	
	&:hover{
		background-color: #5a9b2d;
		color: white;
	}
}

@mixin flag { 
	@include border-radius(0.25em);
	border-bottom-right-radius: 0;
	@include background-size(cover);
	
	font-size: 2.4em; 
	margin: 0.3em 0 0 -2.25em;
	padding: 0.5em 0.4em 0.5em 0.25em;
	
	position: absolute;
	display: block;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 1em;
	text-align: center;
	text-shadow: 1px 1px 0 $light_green;
	background-image: url('/images/date-bubble.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

@mixin clearfix { 
	&:after { content: '★'; visibility: hidden; height: 0; display: block; clear: both; }
}

@mixin section_header {
	position: relative;
	border-top: 1px solid $light_green;
	
	> h1 { margin: -0.8em auto 0 auto; text-align: center; @include thirdly_header; }
	> h1 span { background-color: $background-colour; padding: 0 0.75em; }
}

@mixin chronological_list {
	dl { margin-top: 3em; }
	dt { 
		@include skip-column(1);
		font-size: 1.4em; 
		color: #4D4D4D; 
		font-style: italic;
		position: absolute;
	}
	
	dl dl dt { @include skip-column(3); }
	dl dl dd { @include skip-column(5); }
}

body#about {
	header {
		hgroup { overflow: auto; }
		h1 { @include primary_header; @include column(6); }
		h2 { @include secondry_header; clear: left; margin-top: 1em; }
		h3 { @include flag; }
		img { margin-left: 20px; } /* Makes up for the h1 column losing its margin */
	}
	
	section#bio {
		@include clearfix; 
		padding-bottom: 2em; 
		margin-bottom: 2em;
		
		p { 
			@include body_copy; 
			@include column-count(2);
			@include column-gap(1em);
			
			margin-top: 1em;
		}

		.csscolumns & p { width: auto; }
	}
	
	section#articles {
		@include chronological_list;
		@include section_header; 
		padding-bottom: 2em; 
		margin-bottom: 2em;
		
		article {
			margin-bottom: 2em;
			a { text-decoration: none; }
			h1 {
				@include secondry_header; 				
				&:hover { text-decoration: underline }
			}
			h2 { @include body_copy; width: 23em; }
		}
	}
	
	section#presentations { 
		@include section_header; 
		@include chronological_list;
		padding-bottom: 2em; 
		margin-bottom: 2em;
		
		dd a { @include body_copy; padding-left: 2em; }
		
		dd[class] { background-repeat: no-repeat; background-position: 0 center; }
		dd.slides { background-image: url("/images/slides.png"); } 
		dd.video { background-image: url("/images/video.png"); }
		
		a { 
			color: #4d4d4d;
			text-decoration: none;
			-webkit-transition-property: text-shadow;
			-webkit-transition-duration: 100ms;

			&:hover { text-decoration: underline; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
		}
	}
	
	section#meta {
		@include clearfix; 
		@include section_header; 
		margin-bottom: 2em;

		section#contact { @include column(6); }
		section#external { @include column(6); }
		
		p { @include body_copy; width: auto; margin-top: 1em; }
		
		a[href^="mailto"] { 
			@include button; 
			@include skip-column; 
			margin-top: 1em;
			float: left;
			background-image: url("/images/envelope.png"); 
			background-repeat: no-repeat; 
			background-position: 90% center; 
			padding-right: 2em; 
			font-weight: bold; 
		}
	}
	
}

body > footer { 
	font-style: italic;
	position: relative; 
	clear: left; 
	padding: 1em 0; 
	border-top: 0.3em solid $light_green;
	
	small { color: #333; font-size: 1.2em; }

	nav {
		position: absolute;
		top: 1em;
		right: 0;
		font-size: 1.2em;
		
		a { 
			color: #4d4d4d;
			text-decoration: none;
			-webkit-transition-property: text-shadow;
			-webkit-transition-duration: 100ms;

			&:hover { text-decoration: underline; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
		}
		
	}
}