@font-face {
	font-family: 'AlteHaasGrotesk';
	src: url('/fonts/altehaasgroteskbold-webfont.eot');
	src: local('☺'), 
		url('/fonts/embed/altehaasgroteskbold-webfont.woff') format('woff'), 
		url('/fonts/embed/altehaasgroteskbold-webfont.ttf') format('truetype'), 
		url('/fonts/embed/altehaasgroteskbold-webfont.svg#webfontaU8b4LrX') format('svg');
	font-weight: bold;
	font-style: normal;
}

@mixin primary_header {
	font-family: 'AlteHaasGrotesk', Helvetica, Arial, sans-serif; 
	font-weight: bold; 
	color: #4D4D4D; 
	line-height: 1em; 
	font-size: 6.5em;
	-webkit-font-smoothing: antialiased;
}

@mixin secondry_header {
	font-family: Baskerville, 'Baskerville old face', 'Times New Roman', serif;
	font-size: 2.5em;
	color: #4D4D4D;
	-webkit-font-smoothing: antialiased;
}

@mixin thirdly_header {
	font-family: Baskerville, 'Baskerville old face', 'Times New Roman', serif;
	text-transform: uppercase;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	color: #4D4D4D;
	-webkit-font-smoothing: antialiased;
}

@mixin body_copy { 
	font-family: Baskerville, 'Baskerville old face', 'Times New Roman', serif;
	font-size: 1.6em;
	width: 33em;
	color: #444;
	-webkit-font-smoothing: antialiased;
}