%article
  %header
    %a{:href => "/articles/article-title"}
      %time{:datetime => "XXX", :pubDate => true}
        %abbr{:title => "August"} Aug 
        %span 15
        2010
      %h1 Moving towards readable specs
    %h2 How design could save the W3C
  %p While preparing my HTML WORKSHOP, I’ve been re-reading W3C specs in far further detail than I ever would’ve imagined. The reading experience is far from delightful. Not&nbsp;only is the text the entire browser width in measure, but it’s dense and laborious to read. No wonder browser vendors have traditionally missed subtle details.
  %a.continue-reading{:href => "/articles/article-title"} Continue Reading

%article
  %header
    %a{:href => "/articles/article-title"}
      %time{:datetime => "XXX", :pubDate => true}
        %abbr{:title => "August"} Aug 
        %span 15
        2010
      %h1 Stop writing plans
    %h2 We all have great ideas, but to be fair to our craft, sometimes we have to forget them.
  %p I’m often surprised when a client or co-worker decides to record the plans made during a feature design session when it has been decided that the feature won’t be completed during the next iteration. Seen someone take a photo of the whiteboard? How many times have you actually ever referenced those whiteboard photos?