-# title: False fears
-# published: 2011-08-07
-# excerpt: Fail, make mistakes and poor judgements… but for god sakes, do something!
-# keywords: startups, apps, fears, building software

.column.eight
  :smartypants
    I recently read the [conscious startups manifesto](http://consciousstartups.com/manifesto#we_believe_fear_is_the_main_thing_holding_you_back) and it made me realise a few things about the way that I, my friends, my clients all run our businesses, projects and generally, lives.

    As an arbiter (consultant) it's often a part of my role to ask clients if they really need something that they asked for, to understand their domain and make rational calls on what they should spend their budget (and my time, but that's another story) doing.

    So I got to thinking, why aren't I releasing more projects?, my own apps, the things that sit half finished on my computer somewhere to never been seen by someone? It certainly isn't a commitment thing—sometimes I love these things to death and for whatever reason they don't live.

    I think it's false fears at work, we place them over every decision that we make—it needs this or that feature, or "the customers" (I hate calling people users) won't like it because of x or really, whatever. It's paralysing.

    There is no value in hoarding away your treasures. If you're genuinely creating things that you want to share with other people, then put them out there, fail, make mistakes and poor judgements… but for god sakes, do something!

    I'm working on it too. Good luck.

%aside
  %p
    :smartypants
      "Only drug dealers and software companies call their customers 'users'" 
  %p — Edward Tufte