-# title: Getting shit done, with software
-# published: 2009-08-12
-# excerpt: More features makes for better software, right?
-# keywords: gtd, software, features, development, omnioutliner, review, outliner, omni, cultured code, things, omnifocus

.column.eight
  :smartypants
    One of the many myths of GTD and todo software is that they all require feature X, Y and usually Z. Hell, throw all of them in.
  %blockquote.column.three More features makes for better software, right?
  :smartypants  
    Like a few people I'm sure, I've chopped and changed my todo software as I've realised something wasn't working for me. I've used both web and mac applications, it just didn't work out.
    
    More recently, I realised that I was a total tight ass when I decided I didn't want to pay $50USD for [Cultured Code's](http://culturedcode.com/) ['Things'](http://culturedcode.com/things) app. I'd nabbed a copy for my iPhone, now I need to grab a desktop client licence. Lame. 
    
    Actually it was more that Things didn't map to my mind very well. I'd also checked [Omni's](http://www.omnigroup.com/) ['Focus'](http://www.omnigroup.com/applications/omnifocus/), but $24.00 for an iPhone app (~$80 for the desktop client) that I might only use once or twice. (Where is app trailing, apple?). 
    
    Anyway, the point of this article was that I realised that I once successfully used [OmniOutliner](http://www.omnigroup.com/applications/omnioutliner/), while working at an agency. Better yet, I already owned a licence.
  
  %a{:href => "http://www.flickr.com/photos/benschwarz/3812310281/"}
    %img{:src => "http://farm3.static.flickr.com/2639/3812310281_02b127dbb8.jpg"}
  :smartypants
    This setup is _perfect_. I can adapt the workspace to fit with _my needs_. Not how someone else envisaged it to work in their software design wet dream. It keeps out of my way and I can style anything to my liking.
    
    * When I type a time, like _"Next week"_ or _"Tomorrow"_ its automagically converted to a calendar date.
    * I can indent items or leave notes using `TAB` or `Return`
    * Other than folding _"Next"_ or _"Upcoming"_ up, I can simply view only the items that I'm focusing on.
    
    In summary, I think the most productive thing that you can use is the thing that works with your brain, not what [Merlin Mann](http://www.merlinmann.com/) [prescribes](http://www.43folders.com/2004/09/08/getting-started-with-getting-things-done).  (Nothing against Merlin, I needed an example). 
    
    Back to work, slacker!
    
%aside
  %h1 Notes
  :smartypants
    Perhaps Jeff Atwood was [right on the money](http://www.codinghorror.com/blog/archives/001293.html) when he recently discussed the idea that apps should be priced far lower, in order to promote the "why not?" buyer. 