-# title: HTML5, for web developers
-# published: 2011-02-22
-# excerpt: MELBOURNE, Australia—Feburary 22, 8AM AEST
-# keywords: html, html5, w3c, whatwg, the web, developers, specifications, spec, design

:css
  body#article article header h1 { width: auto; }
  body#article section[role="main"] h2 { font-weight: bold; font-size: 1.5em; }

.column.eight
  :smartypants
    Today marks a very special day — I’m proud to announce the official launch of the WHATWG HTML5 specification _for web developers_.

    It features find-as-you-type search, offline access, beautiful typography, technical references pulled inline, and alternate styles for handheld devices or low resolution displays.

    The aim? To produce a companion specification for web developers to use on a regular basis. All details that are considered "for browser vendors" are omitted.

    [![HTML5, for developers](http://img.skitch.com/20110220-gmxbsdmfhjb7551srhdideywp2.jpg)](http://developers.whatwg.org)

    Back in March 2010 I started a now [rather well documented](http://ajaxian.com/archives/w3c-hire-ben-schwarz-now-making-specs-nice-to-look-at) project to [restyle all of the W3C’s specification pages](http://germanforblack.com/articles/moving-towards-readable-w3c-specs "W3C Design
    — an article by Ben Schwarz"), to make them more readable. 
    
    This project was moderately successful, I [presented](http://www.slideshare.net/benschwarz/building-a-better-web) and launched the results with [Mike™ Smith](http://people.w3.org/mike/) at [Web directions south](http://south10.webdirections.org/).
    
    Time passed, and a lot of things happened, but in January 2011, I started logging to IRC—basically, to become a part of the web standards community. 
    
    _Within 10 minutes_ of joining the WHATWG IRC channel ([Read the transcript](http://krijnhoetmer.nl/irc-logs/whatwg/20110105)) [Ian Hickson](http://hixie.ch/) had granted me approval to continue with my own build of the spec, targeted for web developers.
    
    ## In closing
    Last week I wrote about [participating actively in web standards](http://germanforblack.com/articles/taking-the-web-back "Taking the web back
    — an article by Ben Schwarz"). What you see above is the result of my participation with the WHATWG and W3C.
    As this project draws towards the end, I look forward to working with the amazing people who helped along the way—

    [Anthony Kolber](http://aestheticallyloyal.com) (the other 50% of [AB+C](http://ab-c.com.au)) [Paul Irish](http://paulirish.com/), [Ian Hickson](http://hixie.ch/), [Jonathan Neal](http://twitter.com/jon_neal), [Michael™ Smith](http://people.w3.org/mike/), [Oli Studholme](http://oli.jp/), [Bruce Lawson](http://www.brucelawson.co.uk/), [Divya Manian](http://nimbupani.com/), [Lincoln Stoll](http://lstoll.net) & [Dion Almaer](http://almaer.com/blog/), all—Thank you.