-# title: RubyKaigi, a western perspective
-# published: 2009-07-22
-# excerpt: As the plane descended into Narita I felt a throbbing pain in my ear that felt like the side of my head was going to explode like an ACME bomb on a roadrunner cartoon.
- # keywords: ruby, rubykaigi, kaigi, conference, tokyo, japan, travel
.column.eight
  :smartypants
    I booked everything only 3 days before. Rushed around to shutdown the office for a couple of weeks and get everything in order. I woke up the day I was to depart feeling like I was getting a cold. I avoided packing until an hour and a half before I left for the airport.

    As the plane descended into Narita I felt a throbbing pain in my ear that felt like the side of my head was going to explode like an ACME bomb on a roadrunner cartoon.

    That lasted for at least two days, I had managed to take a full jar of echinaccia by the third 
    day.  Appropriately, I shook the bug before it settled in – Anyway, this was the most disorientating feeling I’ve ever had. I was partially deaf, that is; I had to turn my head to my right ear to understand conversation with (english speaking) people. 

    What a contrast from the Melbourne winter! (max 14ºc) Tokyo was 33ºc and around 90% humidity.  If Tokyo wasn’t already disorientating enough with the bright (like daylight) city lights of Shinjuku, the visual noise of the subway maps and the sheer volume of people everywhere.

    During the week of the RubyKaigi, we managed to have [dinner and drinks in a michelin star rated restaurant](http://www.flickr.com/photos/benschwarz/sets/72157621527844256/), [hang in an awesome japanese metal / rock bar](http://www.flickr.com/photos/benschwarz/sets/72157621638227795/), attempt to go to the fish market (straight from the awesome bar) and scream “ruby ruby ruby” along with the kaiser chiefs most nights (at least once in an ‘all you can drink’ karaoke bar)

    The visual impact of Tokyo streets blew me away. As did the friendliness and acceptance of the japanese people - even with the 5 or 6 japanese words that I poorly executed to get my way around. 
    ![Pops](http://farm3.static.flickr.com/2639/3732701792_0004d6f87a.jpg "Our chef spoke fantastic english")

    Although I was the invader, I found many japanese locals to know far more english than I did japanese. 
  
    On my first night in Tokyo, while running late to dinner the manager of a small connivence store walked me from one end of a massive train station to the other, where I needed to be to catch a specific line. He also taught me how to fish, rather than just showing me where it was. I thanked him, he bowed and trundled back to his store.


    ### Where is this going anyway? 


    Not really anywhere, it was a long way home from Tokyo and I thought this post during a warm embrace with my headphones and iPhone.

    ### Come to Railscamp in Melbourne this November

    Theres plenty to read about past railscamps, including one in the us only this last gone week. I’m one of the organisers for railscamp 6, situated an hour out of Melbourne.

    ### Some common excuses

    #### My wife / girlfriend / parter / dog would never accept me leaving them for two weeks.

    ![Tolerant girlfriends](http://farm4.static.flickr.com/3431/3732655300_2a60de61cb.jpg "Tolerant girlfriends")
    I brought my girlfriend along. It seems that a couple of weeks in Tokyo is a pretty easy sell (dah)

    #### Rubykaigi is almost more than 60% japanese content
    ![Ruby in Japanese](http://farm4.static.flickr.com/3440/3742724460_ed3329978c.jpg "Ruby")
    [Leonard Chin](http://twitter.com/lchin) was a superstar, he had live translations on a second monitor in all of the japanese sessions that I attended. Anyway, I skipped more than 60% of the talks at Railsconf this year (currency of talks at these big conferences is a bitch). Most times conferences are more about going to meet and hang out with other like minded people. RubyKaigi was awesome and it'll be pretty hard to not attend next year. See you there?
