-# title: Stop writing plans
-# published: 2010-04-05
-# excerpt: We all have great ideas, but to be fair to our craft, sometimes we have to forget them.
- # keywords: software, design, planning, clients, web development
.column.eight
  :smartypants
    I'm often surprised when a client or co-worker decides to record the plans made during a feature design session when it has been decided that the feature won't be completed during the next iteration.
    Seen someone take a photo of the whiteboard? How many times have you actually ever referenced those whiteboard photos? 
    
    I think I can personally count the occasions on one hand.
    
    From what I've seen over the last few years of developing web applications is that the cream always rises to the top. That is, if you've discussed a feature idea through its courses, everyone in your team should be able to coherently dictate the concept.
    
    When you decide to put a feature off, the notion of even considering its inclusion _one day_ is a waste of time, that is; [Muda (無駄)](http://en.wikipedia.org/wiki/Muda_\(Japanese_term\)). So why write it down?

    Of course, there are always details that the project leads need to discuss in detail and occasionally put into words. But it should never impede on the creative process. Recording an idea is like making a contract that reads "we will build this one day", this can be vastly damaging to the development of an idea or a business, and its why we see toolbars like this.

    !["The TinyMCE demo toolbar"](http://img.skitch.com/20100405-dwa548t42tyrhm68mqgnie95j6.jpg)

    A "Good idea" can skew your vision and cause you to miss your real goals. Skeptics will say "Well, I have to tell our customers what we're delivering.", and sure; I get it. Really though, they're thinking about it the wrong way around. 
    
    Write down the user story or scenario, not the implemented result that you've pre-conceptualised. That is, write about the problem that you're aiming to address.
    
    If it still applies in 6 months, go for it, plan it then with the new constraints of your application, not those that existed when you thought of the idea. An application is an ecosystem, not a series of features.
    
    We all have great ideas, but to be fair to our craft, sometimes we have to forget them. 

%aside
  %h1 Notes
  :smartypants
    Note: What I'm discussing is pretty much only for teams of people working on single products. In an agency situation, where you have many projects ongoing in parallel, this doesn't really apply.