-# title: Stress, and creation
-# published: 2011-12-09
-# excerpt: We trade a lot more than just time to practice our craft
-# keywords: work, professionalism, life, development, design, creativity, stress

.column.eight
  :smartypants
    I was recently having one of those "life, the universe and everything" conversations with a close industry (web) friend. 

    Mid-conversation I dropped that I'd identified three kinds of stress that we face as creators - it felt somewhat poetic at the time, so I thought I'd take some time to describe it.

    **Physical**, the kind of stress you're under when you've been eating poorly, drinking too much, exercising too little, or working too long. We've all been there but for the most part, it's manageable.

    **Mental**, you've got things floating around your head that are manifesting into bigger problems or you're lacking the focus to handle what the real issues are. This is the hardest to self-diagnose, and is firmly linked to Physical stress.

    And finally, **emotional** stress. This can be the most difficult aspect of your working life (if you've got the first two covered) - it relates to how you're feeling about your projects, coworkers, boss, or pretty much any other situation. In my personal experience, this kind of stress can be the hardest to deal with, because you usually have to change something that you don't really want to.

    Having said all of that: I'm confident, ready, willing and able to deal with anything the world throws at me, but only as long as I'm producing work at a level that I'm satisfied with—That is, I'm defined by what I create.

    To quote [Ben Pieratt](http://pieratt.com/), "Creation is a deeply personal and rewarding activity, which means that your Work should also be deeply personal and rewarding. If it's not, then something is amiss."

    I firmly believe that we - as creators - trade a lot more than just time to practice our craft. We delve ourselves into our projects, and there are many costs incurred to build truly amazing things...