-# title: Taking the web back
-# published: 2011-02-14
-# excerpt: Looking beyond working groups
-# keywords: html, html5, w3c, whatwg, the web

.column.eight
  :smartypants
    Since the [bookmarklet](http://userscripts.org/scripts/review/76281) and [W3C restyle project](/articles/moving-towards-readable-w3c-specs) that I kicked off last year, I've been extremely fortunate—people, companies and opportunities have presented themselves to me like never before (let's call it karma, but that's just an aside) it has meant that I've had more first-hand exposure to working groups than most people.
     
    Most web developers seem to have strong opinions about the W3C, without anything to really back it up. 
    
    That is, their frustration with the whole web standards movement has lead them to believe that the W3C are incompetent and act as a barrier for the web to move forward.

    What I have witnessed first hand with the W3C as an organisation is that it's representatives are extremely motivated people who genuinely care about the web as a medium, they are frustrated also, not only are they tied to an organisation that as moves slowly as an academic institution or a bank, but the unrealistic expectations that the web industry have of them.

    To put a few things straight;

    * The W3C are not a figure of authority
    * The W3C do however attempt to act as a central hub of documentation for technical specifications that make up what we know as the web.
    * Some of their projects can be considered experimental. 

    I don't think that there is anything wrong with this, rather than construct a document of fiction, I'd rather pull together a real world use case. 
    
    As an aside, the [mozilla developer center](http://developer.mozilla.org) (MDC) has now shifted its focus to become a greater source of documentation for the web—in general. <br>I've begun to use this as a reference alongside the specifications.

    Fact is that the W3C and WHATWG working groups receive a lot of feedback after the point; Many web developers do not realise that they *must* use existing communication channels to influence the future of web technology. 
    
    So, you…  humble reader with opinions: Get your (virtual) ass into irc<sup>1, 2</sup>, up on to the mailing lists<sup>3, 4</sup> and form professional relationships with the people who are writing the specifications and making judgement calls. 
    
    Create a large and well considered feedback loop. After all, the web doesn't belong to the W3C, WHATWG, apple, google, mozilla or anyone else. It belongs to all of us.

    I personally not only want to understand my tools, but I want to shape the way that I interact with them also.

    Lets take back control of the web together.
    
    
%nav#footnotes
  %a{href: "irc://irc.freenode.org/whatwg"}
    %sup 1
    WHATWG on IRC
  %a{href: "irc://irc.freenode.org/html5"}
    %sup 2
    HTML5 on IRC
  %a{href: "http://lists.w3.org/Archives/Public/public-html/"}
    %sup 3
    WHATWG mailing lists
  %a{href: "http://www.whatwg.org/mailing-list"}
    %sup 4
    W3C mailing lists (public-html)