!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Ben Schwarz's site
    %link{rel: "stylesheet", href: "/stylesheets/application.css"}
    %script{src: "/javascripts/modernizr.js"}
    = csrf_meta_tag
  %body{id: params[:action]}
    = yield
    %footer
      %small © Ben Schwarz 2009—  
      %nav
        %a{href: "http://twitter.com/benschwarz", rel: "external"} Follow me on twitter
    %script{src: "/javascripts/application.js"}