!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Ben Schwarz's site
    %link{rel: "stylesheet", href: "/stylesheets/application.css"}
    %script{src: "/javascripts/modernizr.js"}
    = csrf_meta_tag
  %body{id: params[:action]}
    = yield
    %footer
      %small © <a href="/">Ben Schwarz</a> 2009—  
    %script{src: "/javascripts/application.js"}